
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" class="container text-center mt-5">
        <div class="title my-4">
            <h1 >タイピングゲーム</h1>
            <div class="progress" style="height:2px;"></div>
        </div>
        <button v-if="!startFlg" class="btn btn-primary btn-lg" @click="startGame">ゲームスタート</button>
        <div class="gameScreen card" v-if="startFlg">
            <div class="card-body">
                <div class="question">{{question}}</div>
                <div v-if="clearFlg">
                    <div style="color:orange;">Clear!</div>
                    <button class="btn btn-link" @click="retry">リトライ</button>
                </div>
    
                <div v-if="!clearFlg" class="typeFormWrapper">
                    <input id="typeForm" class="typeForm card-header" type="text" v-model="typeBox">
                </div>
                <div class="gauge progress mt-4">
                    <div class="progress-bar" :style="styleObject"></div>
                </div>
                <div>{{current_count}}/{{question_counts}}</div>
            </div>

        </div>
        
    </div>
    <script>
        new Vue({
            el: "#app",
            data:{
                startFlg:"",
                clearFlg:"",
                question:"aaa",
                questions:[
                    "okamori",
                    "sagemori",
                    "agemori",
                    "mokkori",
                    "dotyashiko",
                    "hiratakentarou",
                    "unjiru"
                ],
                typeBox:"",
                current_count:0,
                question_counts:0
            },
            methods:{
                startGame:function(){
                    this.questions = this.shuffle(this.questions)
                    this.updateQuestion()
                    this.startFlg = true
                    this.$nextTick(function(){
                        document.getElementById('typeForm').focus()
                    })
                },
                updateQuestion:function(){
                    this.question = this.questions[this.current_count]
                },
                nextQuestion:function(){
                    this.current_count += 1
                    this.updateQuestion()
                    this.typeBox = ""
                    if (this.current_count == this.question_counts){
                        this.clearFlg = true
                    }
                },
                retry:function(){
                    this.current_count = 0
                    this.clearFlg = false
                    this.startGame()
                },
                shuffle: function(array){
                    for (let i = array.length - 1; i > 0; i--) {
                        let r = Math.floor(Math.random() * (i + 1))
                        let tmp = array[i]
                        array[i] = array[r]
                        array[r] = tmp
                    }
                    return array
                }
            },
            mounted:function(){
                this.question_counts = this.questions.length
            },
            computed:{
                styleObject:function(){
                    width = (this.current_count / this.question_counts)*100 + "%"
                    if (this.current_count == this.question_counts){
                        col = "orange"
                    }else{
                        col = "#007BFF"
                    }
                    return {
                        'width': width,
                        'background-color': col
                    }
                }
            },
            watch:{
                typeBox:function(e){
                    if (e == this.question){
                        this.nextQuestion()
                    }
                }
            }
        })
    </script>
</body>
</html>