body {
    font-size:36px;
    font-variant-ligatures: no-common-ligatures;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
table {
    font-size:25px;
    padding-bottom:0px;
}

#table{
    height: 300px;
    overflow-y: scroll;
}
p {
    font-size: 20px;
    color:gray;
}
.container {
    max-width:800px;
}

.title-bar {
    height:2px;
}

.card {
    padding:20px;
}

.option  {
    font-size:20px;
    text-align:left;
}