<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="title">
            <h1>TypingGame</h1>
            <div class="marker"></div>
        </div>
        <button v-if="startFlag!=true" class="startButton mb-20" @click="gameStart">START</button>
        <div v-if="startFlag">
            <div class="question mb-20">{{current_question}}</div>
            <div v-if="current_question_counts==question_counts" class="clear mb-20">Clear</div>
            <div class="inputStringWrapper mb-20">
                {{inputString}}
            </div>
            <div class="gaugeWrapper mb-20">
                <div v-bind:style="styleObject" class="gauge"></div>
            </div>
            <div>{{current_question_counts}}/{{question_counts}}</div>
        </div>
    </div>

    <script>
        new Vue({
            el:"#app",
            data:{
                startFlag:"",
                current_question:"",
                questions:[
                    "zxcvbnm","asdghjkl","qwertyuiop"
                ],
                inputString:"",
                key:"",
                current_question_counts:0,
                question_counts:0,
                word_index_counts:0,
            },
            computed:{
                styleObject:function(){
                    width=(100/this.question_counts)*this.current_question_counts+"%";
                    if(this.current_question_counts==this.question_counts){
                        color="#03a9f4";
                    }
                    else{
                        color="orange";
                    }
                    return{
                        "width":width,
                        "background-color":color
                    }
                }                
            },
            methods:{
                gameStart:function(){
                    this.startFlag=true;
                },
                onKeyDown:function(event){
                    if(event.key==this.current_question[this.word_index_counts]){
                        this.inputString+=event.key;
                        this.word_index_counts++;
                        if(this.word_index_counts==this.current_question.length){
                            this.questions.splice(0,1);
                            this.current_question=this.questions[0];
                            this.inputString="";
                            this.current_question_counts++;
                            this.word_index_counts=0;
                        }
                    }
                }
            },
            mounted:function(){
                this.current_question=this.questions[0];
                this.question_counts=this.questions.length;
                document.addEventListener('keydown', this.onKeyDown);
            },
            beforeDestroy:function(){
                document.addEventListener("keydown", this.onKeyDown)
            },
            watch:{
                onkeydown:function(e){
                    if(e==this.current_question){
                        this.questions.splice(0,1);
                        this.current_question=this.questions[0];
                        this.typeBox="";
                        this.current_question_counts++;
                    }
                }
            }
        })
    </script>
</body>
</html>